html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* El contenido principal debe crecer */
main {
  flex: 1;
}

/* Títulos */
h1 {
  color: #2c3e50;
  margin: 30px 0;
}

/* Contenedor de proyectos */
.contenedor {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

/* Card */
.card-proyecto {
  background-color: white;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Sombras */
#proyecto-videojuego,
#proyecto-web {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.imagen-proyecto {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  color: #555;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #eaeaea;
  margin: 5px 0;
  padding: 5px;
}

/* Botón */
.btn-proyecto {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-proyecto:hover {
  background-color: #1f6391;
}

/* Footer fijo abajo */
.footer {
  margin-top: auto;
  background-color: #1f2933;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }
}

/* ===== MENÚ ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2933;
  padding: 10px 15px;
}

.logo {
  color: white;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.hamburguesa {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* MÓVIL */
@media (max-width: 768px) {
  .hamburguesa {
    display: block;
  }

  .nav {
    position: absolute;
    top: 50px;
    left: 0;
    background: #1f2933;
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .nav.activo {
    display: flex;
  }

  .nav a {
    padding: 10px 0;
    border-top: 1px solid #444;
  }
}
