* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* HEADER */
.header {
    background-color: #1f2933;
    color: white;
    padding: 20px;
}

.nav {
    margin-top: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.nav a:hover {
    text-decoration: underline;
}

.nav .activo {
    font-weight: bold;
    text-decoration: underline;
}

/* CONTENIDO */
main {
    padding: 20px;
}

h1 {
    font-size: 28px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.evento p {
    font-size: 14px;
    color: #444;
}
