body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

/* Contenido principal */
.contenido {
  flex: 1;
  padding: 20px;
}

/* Formulario */
label {
  margin-top: 10px;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.botones {
  margin-top: 15px;
  text-align: center;
}

.terminos {
  margin-top: 10px;
}

#nombre, #correo {
  border: 1px solid #999;
}

input:focus, textarea:focus, select:focus {
  border-color: blue;
}

button:hover {
  background-color: #444;
  color: white;
}

label::after {
  content: " *";
  color: red;
}

textarea::placeholder {
  color: gray;
}

fieldset {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

label.terminos {
  display: flex;
  align-items: center;
  gap: 8px;
}

label.terminos input {
  width: auto;
  margin: 0;
}

/* Footer */
.footer {
  margin-top: auto;
  background-color: #1f2933;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

/* ===== MENÚ ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2933;
  padding: 10px 15px;
}

.logo {
  color: white;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.hamburguesa {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* MÓVIL */
@media (max-width: 768px) {
  .hamburguesa {
    display: block;
  }

  .nav {
    position: absolute;
    top: 50px;
    left: 0;
    background: #1f2933;
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .nav.activo {
    display: flex;
  }

  .nav a {
    padding: 10px 0;
    border-top: 1px solid #444;
  }
}
