body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

form {
    flex: 1; /* empuja el footer hacia abajo */
}

/* Selectores de etiqueta */
label {
    margin-top: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

/* Clases */
.botones {
    margin-top: 15px;
    text-align: center;
}

.terminos {
    margin-top: 10px;
}

/* IDs */
#nombre,
#correo {
    border: 1px solid #999;
}

/* Pseudoclases */
input:focus, textarea:focus, select:focus {
    border-color: blue;
}

button:hover {
    background-color: #444;
    color: white;
}

/* Pseudoelementos */
label::after {
    content: " *";
    color: red;
}

textarea::placeholder {
    color: gray;
}

/* Box Model */
fieldset {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

/* Checkbox alineado */
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

label.terminos {
  display: flex;
  align-items: center;
  gap: 8px;
}

label.terminos input[type="checkbox"] {
  width: auto;
  margin: 0;
}

/* FOOTER */
.footer {
    margin-top: auto;
    background-color: #1f2933;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
